canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #FFA800;
}

body {
  text-align: left;
  background-color: #C5C6C7;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-right: 300px;
  p{
    font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 300;
font-style: normal;
  }
}

#vibe {
    border-radius: 15px;
    width: 800px;
    height: auto;
    padding: 20px;
    /* margin: 20px auto; */
    background: #6E6F71;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

#p5js {
    border-radius: 15px;
    width: 800px;
    height: auto;
    padding: 20px;
    /* margin: 20px auto; */
    background: #797a7a;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 3 columns of equal width */
    gap: 30px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

#projects {
    border-radius: 15px;
    width: 800px;
    height: auto;
    padding: 20px;
    /* margin: 20px auto; */
    background: #9b9b9c;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

footer {
  text-align: center;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-right: 0px;
}

#presentation {
    border-radius: 15px;
    width: 800px;
    height: auto;
    padding: 20px;
    /* margin: 20px auto; */
    background: #afb0b1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}