canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  text-align: center;
}

img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  filter: grayscale(100%);
}

p {
  color: white;
  text-align: center;
  font-family: "viktorie", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  border-radius: 10px;
}

#p2 {
  font-family: 'six-hands-rough', sans-serif;
  font-size: 45px;
}

a {
  color: white;
  font-family: 'six-hands-rough', sans-serif;
  font-size: 30px;
  text-decoration: none;
  margin: 20px;
  text-align: center;
}

a:hover {
  color: lightblue;
  text-shadow: 5px 5px 5px black;
  font-size: 35px;
  margin: 10px;
  text-align: center;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'six-hands-chalk', sans-serif;
  font-size: 75px;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}



#p2:hover {
  animation: cycleNumbers 5s infinite;
  color: lightblue;
  text-shadow: 5px 5px 5px black;
  font-size: 50px;

}



@keyframes cycleNumbers {
  0% { content: "0"; }
  5% { content: "5"; }
  10% { content: "9"; }
  15% { content: "12"; }
  20% { content: "17"; }
  25% { content: "21"; }
  30% { content: "25"; }
  35% { content: "30"; }
  40% { content: "33"; }
  45% { content: "39"; }
  50% { content: "44"; }
  55% { content: "48"; }
  60% { content: "52"; }
  65% { content: "56"; }
  70% { content: "59"; }
  75% { content: "61"; }
  80% { content: "65"; }
  85% { content: "73"; }
  90% { content: "80"; }
  95% { content: "93"; }
  100% { content: "99"; }

  
}

.number-display::after {
  content: ""; /* Initialize content for the pseudo-element */
  animation: cycleNumbers 4s infinite linear; /* Apply the animation */
}
