canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e4d2bc;
}

body {
  text-align: center;
  background-color: #e4d2bc;
  font-family: 'helvetica-neue', sans-serif;
  font-weight: 700;
  /* font-family: 'clarendon-wide-sc', sans-serif;
font-style: normal;
font-weight: 700; */
}

p{
    color: black
}